<h3 style="margin:2rem 0;"> Ingrese un Producto:</h3>

<form action="/productos"  method="POST">
    
    Título: <input type="text" name="title" class="input-group mb-3" placeholder="Ingrese un producto" required>
   
    Precio: <input type="number" name="price" class="input-group mb-3" placeholder="ingrese el precio" required>
   
    Url: <input type="text" name="thumbnail" class="input-group mb-3" placeholder="ingrese URL de la imagen" required>
    <input type="submit" value="Ver Productos" class="btn btn-primary" style="margin-top: 2rem;">
</form>